<div class="container">
    <div class="card bg-light">
        <form class="form-horizontal" method="post" th:action="@{/register}" th:object="${userForm}">
            <fieldset>
                <div class="card-header bg-secondary">
                    <legend class="text-light">Register</legend>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label class="control-label" for="user_username">Username</label>
                            <input class="form-control" id="user_username" name="username" placeholder="Username"
                                   th:classappend="${#fields.hasErrors('username')}? is-invalid" th:field="*{username}"
                                   type="text"
                                   required="required"/>
                            <div class="invalid-feedback" th:errors="*{username}"
                                 th:if="${#fields.hasErrors('username')}"></div>
                        </div>
                        <div class="form-group col-sm-8">
                            <label class=" control-label" for="user_fullname">Full Name</label>
                            <input class="form-control" id="user_fullname" placeholder="Full Name"
                                   th:classappend="${#fields.hasErrors('fullName')}? is-invalid" th:field="*{fullName}"
                                   type="text"
                                   name="fullName" required="required"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class=" control-label" for="user_password_first">Password</label>
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password"
                                   th:classappend="${#fields.hasErrors('password')}? is-invalid"
                                   name="password" required="required"/>
                            <div class="invalid-feedback" th:errors="*{password}"
                                 th:if="${#fields.hasErrors('password')}"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class=" control-label" for="user_password_second">Confirm Password</label>
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password"
                                   name="passwordConfirm"
                                   required="required"
                                   th:classappend="${#fields.hasErrors('passwordConfirm')}? is-invalid"/>
                            <div class="invalid-feedback" th:errors="*{passwordConfirm}"
                                 th:if="${#fields.hasErrors('passwordConfirm')}"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="offset-sm-4 col-sm-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input value="Submit" type="submit" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>